*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    --s: 82px;
    --c1: #b2b2b2;
    --c2: #ffffff;
    --c3: #d9d9d9;
  
    --_g: var(--c3) 0 120deg, #0000 0;
    background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
      conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
      conic-gradient(
        from 60deg at calc(200% / 3),
        var(--c3) 60deg,
        var(--c2) 0 120deg,
        #0000 0
      ),
      conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
      linear-gradient(
        90deg,
        var(--c1) calc(100% / 6),
        var(--c2) 0 50%,
        var(--c1) 0 calc(500% / 6),
        var(--c2) 0
      );
    background-size: calc(1.732 * var(--s)) var(--s);
  }

.content{
    display: flex;
    justify-content: center;
   
}

.text{
display: flex;
margin-top: 100px;
width: 500px;
height: 300px;
font-size: 15px;
}
.p{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color:black;
    font-size: 25px;
}
.title{
    display: flex;
    justify-content: center;
    color: black;
}


.button1
{
    display: flex;
    justify-content: center;
    padding: 10px;
   
}
.button2
{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.button3
{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.btn1{
    display: flex;
    justify-content: center;
    height: 30px;
    width: 500px;
    color: black;
    font-size: 20px;
    background-color: gray;
    border-radius: 50px;
}
.btn2{
    display: flex;
    justify-content: center;
    height: 30px;
    width: 500px;
    color: black;
    font-size: 20px;
    background-color: gray;
    border-radius: 50px;
}
.btn3{
    display: flex;
    justify-content: center;
    height: 30px;
    width: 500px;
    color: black;
    font-size: 20px;
    background-color: blue;
    border-radius: 50px;
}

.content5{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.content6{
    padding: 20px;
}

/* .alist{
    width: 100vh;

} */